useDynLib(treeFA, .registration = TRUE)
importFrom(Rcpp, evalCpp)

export(acc_prox_simple_linear)
export(acc_prox_simple_logistic)
export(calculate_depth)
export(cv.simple_linear)
export(cv.logistic)
export(detect_non_leaf_nodes)
export(find_coarest)
export(find_max_param.linear)
export(find_max_param.logistic)
export(find_p)
export(gather_direct_latent_nodes)
export(gather_leaf_nodes_per_non_leaf)
export(gather_leaves)
export(grid.simple_linear)
export(grid.logistic)
export(make_list)
export(negtv_lglkh)
export(real_data_one_round.linear)
export(tree_leaf_ids)

export(dy_prox_simple_linear)
export(dy_prox_simple_logistic)
export(grid.select_linear)
export(grid.select_logistic)
export(cv.select_linear)
export(cv.select_logistic)
